/* Fundo geral e tipografia */
body {
    font-family: 'DePixel', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    background: url('https://i.imgur.com/CwZ2RLR.png') repeat;
    background-size: cover;
    color: #333;
    line-height: 1.6;
    font-size: 18px;
}

/* Título no topo */
.titulo-topo {
    text-align: center;
    font-size: 2.1rem;
    margin: 20px 0;
    color: #005234;
}

/* Layout de colunas */
.layout-duas-colunas {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1640px;
    margin: 0 auto 40px auto;
    padding: 0 20px;
}

.coluna {
    flex: 1 1 300px;
    padding: 20px;
    box-sizing: border-box;
}

#coluna-esquerda {
    background-image: url('https://i.imgur.com/DkjYdql.png') !important;
    background-size: cover;
    background-position: center;
}

#coluna-direita {
    background-image: url('https://i.imgur.com/K350G9k.png') !important;
    background-size: cover;
    background-position: center;
}

   

/* Conteúdo da coluna esquerda */
.coluna-esquerda-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.g14-numero {
    font-size: 9rem;
    color: #FFFFFF;
    font-weight: bold;
}

.g14-texto {
    font-size: 2.5rem;
    color: #FFFFFF;
    margin: 20px 0;
}

.g16-texto {
    font-size: 2.5rem;
    color: #FFFFFF;
    margin: 20px 0;
}

.g16-numero {
    font-size: 9rem;
    color: #FFFFFF;
    font-weight: bold;
}

/* Lista da coluna direita */
.coluna-direita-lista {
    list-style-type: none;
    padding: 0;
}

.coluna-direita-lista li {
    margin: 8px 0;
    color: #FFFFFF;
    font-size: 1.4rem;
}

}
.botao-recarregar:hover {
    background-color: #003f80;
}

.container-barra {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.barra-fundo {
    width: 1538px;
    height: 78px;
    background: url('https://i.imgur.com/NmeDU3T.png') no-repeat;
    background-size: cover;
    position: relative;
}

.barra-progresso {
    width: 176px;
    height: 44px;
    background: url('https://i.imgur.com/KSdHx0F.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 24px;
    left: 10px;
    transition: width 0.5s ease-in-out;
}
